html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    }
}
.container {
	max-width: 940px;
}
code {
    font-size: 80%;
}
#search {
	width: 300px;
}
.with-frame {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 10px;
    border-radius: 0 0 4px 4px;
}
.price {
    color: red;
}
.price :hover {
    color: red;
}
.f-space {
    margin-top: 10px;
}
.f-add-to-cart {
    width: 100%;
}
.f-footer-space {
    width: 100%;
    height: 20px;
}
#header {
    background-color: rgb(241, 241, 241);
    margin-bottom: 20px;
}
.header-up {
    height: 25px;
    width: 100%;
}
.price {
    color: orange;
    font-size: 16px;
    font-weight: bold;
}
.main-image {
    width: 330px;
    height: 330px;
    background-color: gray;
}